<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>Project Hybrid Mobile Programming - 1604D053</ion-item>
  <ion-item>Gasal 2026-2027</ion-item>
  <ion-item>Built using Ionic Framework with NgModule</ion-item>
</ion-content>