<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>Kelompok 5 - Telat Satu Tahun</ion-item>

  <ion-card>
    <ion-card-header>
      <ion-avatar id="member_1">
        <ion-img src="https://my.ubaya.ac.id/img/mhs/160423005_l.jpg"></ion-img>
      </ion-avatar>
      <ion-card-title color="primary">Louis Januardy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      160423005 - KP A
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-avatar id="member_2">
        <ion-img src="https://my.ubaya.ac.id/img/mhs/160423030_l.jpg"></ion-img>
      </ion-avatar>
      <ion-card-title color="primary">Leonardo Sanjaya</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      160423030 - KP E
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-avatar id="member_3">
        <ion-img src="https://my.ubaya.ac.id/img/mhs/160423077_l.jpg"></ion-img>
      </ion-avatar>
      <ion-card-title color="primary">Nelson Ahli</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      160423077 - KP E
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-avatar id="member_4">
        <ion-img src="https://my.ubaya.ac.id/img/mhs/160423085_l.jpg"></ion-img>
      </ion-avatar>
      <ion-card-title color="primary">Steven Gunawan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      160423085 - KP F
    </ion-card-content>
  </ion-card>
</ion-content>