<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-item>
  <h3>Jumlah Produk: {{totalProduk}}</h3>
</ion-item>
<ion-item>
  <h3>Total transaksi hari ini: {{totalTransaksiToday}}</h3>
</ion-item>
<ion-item>
  <h3>Produk terlaris (all time): {{namaProdukTerlaris}}</h3>
</ion-item>
</ion-content>